body {
  background: #fff;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
  word-break: break-word;
}

h1, h2 {
  font-weight: 300;
  margin: 0 auto; 
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#headerimg {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
}

#main {
  width: 75%;
  height: 80%;
  max-width: 900px;
  display: block;
  position: relative;
  top: 100px;
  bottom: 200px;
  margin: 0 auto;
}