.componentCreator {
  width: 500px;
}

.componentCreator * {
  margin-top: auto;
}

.configComp {
  min-width: 450px;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.configComp .propName{
  color: black;
}

.configComp.focused>.nameDiv>.propName{
  color: red;
}

.nameDiv {
  word-wrap: break-word;
  min-width: 100px;
}

.rawInput {
  font-size: medium !important;
  max-height: 400px !important;
  min-height: 200px !important;
  overflow-y: auto !important;
}

.rawConfigs {
  white-space: pre;
  font-size: medium !important;
}

.numInput, .strInput, .boolInput{
  max-width: 300px; 
}

.unknowInput {
  width: 500px;
}

body {
  font-weight: 300;
}

span {
  font-size: large;
}